<footer id="footer">
	<div class="container">
		<div class="copyright"><p>&copy; 2015 May Arts Ribbons. All rights reserved.</p></div>
		<div class="term"><a href="#"> Click here to review terms of use.</a></div>
	</div>
</footer> <!-- //FOOTER -->
