 <header id="header-ckout">
	<div class="container">
		<div class="row">
			<div id="logo"><a href="#"><img src="assets/img/logo.png" alt=""></a></div>
			<div class="header-right">
				<ul>
					<li>
						<a href="#"><i class="fa fa-caret-left"></i> Continue Shopping</a>
					</li>
					<li class="header-email">
						<span>Need help? </span>
						<a href="mailto:info@ribbonresource.com?subject=Hi !! We are Hiline Coffe">info@ribbonresource.com</a>
					</li>
				</ul>
			</div><!-- //head-right -->
		</div>
	</div>
</header> <!-- //header-ckout -->
