<div class="nav_payment">
	<ul>
		<li><a href="account.html" {{#is basename 'account'}}class="active"{{/is}}> Account</a></li>
		<li><a href="payment.html" {{#is basename 'payment'}}class="active"{{/is}}>Payment</a></li>
		<li><a href="shipping.html" {{#is basename 'shipping'}}class="active"{{/is}}>Shipping Address</a></li>
		<li><a href="order_history.html" {{#is basename 'order_history'}}class="active"{{/is}}>Order History</a></li>
		<li><a href="whishlist.html" {{#is basename 'whishlist'}}class="active"{{/is}}>Wishlist</a></li>
	</ul>
</div>