<nav class="nav">
	<ul>
		<li {{#is basename 'index'}} class="active" {{/is}}><a href="index.html">Products</a>
            <ul>
                <li><a href=""> Sales Skills Training</a> </li>
                <li><a href="">GLeadership & Management Training</a> </li>
                <li><a href="">Employment Law Compliance Training</a></li>
                <li><a href="">Human Resources Training</a></li>
                <li><a href=""> LMS Content Catalog</a></li>
            </ul>
        </li>
        <li><a href="">Free Stuff</a>
          <ul>
            <li><a href="">Blogs</a> </li>
            <li><a href="">Training eBooks</a> </li>
            <li><a href="">Newsletters</a></li>
            <li><a href="">Webinars</a></li>
            <li><a href="">How-To Tutorials</a></li>
            <li><a href=""> Sample Training Videos</a></li>
          </ul>
        </li>
        <li><a href="">Clients</a></li>
        <li><a href="">The Science</a>
             <ul>
                <li><a href="">Rapid Learning</a> </li>
                <li><a href="">Single-Concept Learning</a> </li>
                <li><a href=""> Research-Based Learning</a></li>
              </ul>
        </li>
        <li><a href="">Free Trial</a></li>
	</ul>
</nav><!-- //Navigation -->
<a href="javscript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>