<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}
			 <div class="row form-shipAdd">
                <form name="">
                    <div class="leftside col-md-7">
                        <h2 class="title-main">Your Account Info</h2>
                        <div class="row"> 
                            <div class="col-md-6 form-group actionField">
                            	<label class="label">First Name</label>
                                <input type="text" name="" class="form-control" placeholder="Twinkle" disabled>
                                <a href="#" class="edit_link">Edit</a>
                            </div>
                            <div class="col-md-6 form-group actionField">
                            	<label class="label">Last Name</label>
                                <input type="text" name="" class="form-control" placeholder="L star" disabled>
                                <a href="#" class="edit_link">Edit</a>
                            </div>
                        </div><div class="space15"></div>
                        <div class="form-group actionField  ">
                        	<label class="label">Email</label>
                            <input type="email" name="" class="form-control" placeholder="Twinkle@gmail.com" disabled>
                            <a href="#" class="edit_link">Edit</a>
                        </div><div class="space15"></div>
                        <div class="form-group">
                        	<label class="label">Password</label>
                        	<div class="fieldbox-wt form-control"><p>Last changed: 3 month ago.</p><a href="#" class="btn-close closeBtn"></a></div>
                            <input type="password" name="" class="form-control" placeholder="Current password">
                            <input type="password" name="" class="form-control no-bordtop" placeholder="New password">
                            <input type="password" name="" class="form-control no-bordtop" placeholder="Retype new password">
                        </div><div class="space15"></div>
                        <div class="checkbox">
                            <input type="checkbox" value="" id="cxbox">
                            <label for="cxbox"><span></span>Newsletter Subscription</label>
                        </div><div class="space15"></div>
                        <input type="submit" class="btn-blue" value="Save Change">
                    </div>
                    <!-- //leftside -->
                </form>
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  