<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}

            <h2 class="title-main">Catalog and Product Views</h2>
            <div class="table-acc table-responsive">
                <table class="table">
                    <tr>
                        <td>
                            <div class="tb-prodetail">
                                <figure><img src="assets/img/product1.jpg" alt=""></figure>
                                <div class="desc">
                                    <h4>1/8 inch Brown/Copper/ Gold Satin String</h4>
                                    <ul class="sm-detail">
                                        <li>Sizing Options: <span class="gray">5 Yards or 30</span></li>
                                        <li>Yards Fiber Content: <span class="gray">100 Polyester</span></li>
                                    </ul>
                                </div>
                            </div><!-- //tb-prodetail -->
                        </td>
                        <td width="23%">
                            <div class="form-group">
                                <label>Spool Size</label>
                                <select class="turnintodropdown">
                                  <option>100 Yard Roll  - $18.00</option>
                                  <option>Option 2</option>
                                  <option>Option  3</option>
                                  <option>Option  4</option>
                                  <option>Option  5</option>
                                </select>
                            </div>

                            <div class="qtynav">
                                <label class="label">Quantity</label>
                                <div class="group-qty">
                                    <span class="group-btn">
                                        <button class="btn-circle btn-minuse">-</button>
                                    </span>
                                    <input type="text" value="0" size="4">
                                    <span class="group-btn">
                                        <button class="btn-circle btn-pluss">+</button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <p><button class="btn-tb-action btn-gray">Add to wishlist</button></p>
                            <p><button class="btn-tb-action">Add to cart</button></p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="tb-prodetail">
                                <figure><img src="assets/img/product2.jpg" alt=""></figure>
                                <div class="desc">
                                    <h4>7/8 inch Burgundy Double-faced Satin Ribbon</h4>
                                    <ul class="sm-detail">
                                        <li>Sizing Options: <span class="gray">5 Yards or 30</span></li>
                                        <li>Yards Fiber Content: <span class="gray">100 Polyester</span></li>
                                    </ul>
                                </div>
                            </div><!-- //tb-prodetail -->
                        </td>
                        <td width="23%">
                            <div class="form-group">
                                <label>Spool Size</label>
                                <select class="turnintodropdown">
                                  <option>100 Yard Roll  - $18.00</option>
                                  <option>Option 2</option>
                                  <option>Option  3</option>
                                  <option>Option  4</option>
                                  <option>Option  5</option>
                                </select>
                            </div>

                            <div class="qtynav">
                                <label class="label">Quantity</label>
                                <div class="group-qty">
                                    <span class="group-btn">
                                        <button class="btn-circle btn-minuse">-</button>
                                    </span>
                                    <input type="text" value="0" size="4">
                                    <span class="group-btn">
                                        <button class="btn-circle btn-pluss">+</button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                             <p><button class="btn-tb-action btn-gray">Add to wishlist</button></p>
                            <p><button class="btn-tb-action">Add to cart</button></p>
                        </td>
                    </tr>
                </table>
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  