<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
			<div class="row">
				<div class="leftside col-md-7 boxFade-wrap">
					<div class="titlewrap">
						<h2 class="title-main">Payment Information</h2>
						<a href="#" class="right navFade_Form">Add New Card</a>
					</div><!-- title-wrap -->

                    <div class="fade_form">
                        <form name="">
                            <div class="form-group">
                                <label class="label">Credit Card</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>Card number</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>Month</option>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>Mei</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>August</option>
                                            <option>September</option>
                                            <option>October</option>
                                            <option>November</option>
                                            <option>December</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>Years</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>CVV</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" value="" id="cxbox4">
                                    <label for="cxbox4"><span></span>Save this card</label>
                                </div>
                                <div class="space20"></div>
                                <div class="checkbox">
                                    <input type="checkbox" value="" id="cxbox5">
                                    <label for="cxbox5"><span></span>Gift Card</label>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Card description">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="" value="Add card" class="btn-blue">
                                </div>
                            </div>
                        </form>
                    </div><!-- //fade_form -->

					<div class="acc-addsBox table-responsive fadeBox">
                        <table class="table">
                            <tbody><tr>
                                <td width="28%"><figure class="tb-cardImg"><img src="assets/img/visa.png" alt=""></figure></td>
                                <td><span>xxxx 3453<br>Expires 7/2016</span></td>
                                <td align="right"></td>
                            </tr>
                        </tbody></table>
                    </div><!-- acc-addsBox -->
                    <div class="space20"></div>
                    <div class="f-headtext">
	                    <h5>Billing Address</h5>
	                    <div class="checkbox right">
	                        <input type="checkbox" value="" id="cxbox3">
	                        <label for="cxbox3"><span></span>Same as shipping address</label>
	                    </div>
	                </div>

	                <div class="f-headtext">
	                    <h5>Shipping Address</h5>
						<a href="#" class="right">Shipping Address</a>
	                </div>

	                <div class="acc-addsBox table-responsive">
                        <table class="table">
                            <tbody><tr>
                                <td width="28%"><strong class="name">Twinkle L Star</strong></td>
                                <td>GGR
                                    <br>New York, NY 1234
                                    <br>UNITED STATES</td>
                                <td align="right"></td>
                            </tr>
                        </tbody></table>
                    </div><!-- acc-addsBox -->
				</div><!-- //leftside -->

				<div class="rightside col-md-5">
					<div class="asideInner">
						<div class="ship-summary">
                            <h4>Order Summary</h4>
                            <table class="table tb-shisumary">
                                <tr>
                                    <td>Subtotal</td>
                                    <td align="right">$28.99</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td align="right"><em>free</em></td>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <td align="right">$0.00</td>
                                </tr>
                                <tr>
                                    <td>Total (USD)</td>
                                    <td align="right">$25.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><a href="#" class="coupon">Apply Coupon Code</a></td>
                                </tr>
                            </table>
                        </div>
                        <!-- //ship-summary -->
                        <div class="btn-full">
                            <input type="submit" name="" value="Submit Order"
                            class="btn-blue">
                        </div>
					</div>
				</div><!-- //leftside --> 
			</div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  