<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite loginWrap">
			<h2 class="title-main">Login</h2>
			<form name="" class="login-form row">
				<div class="login-form__inside">
					<div class="form-group"><input type="email" name="" class="form-control" placeholder="Email"></div>
					<div class="loginRadio">
						<div class="radio">
						    <input type="radio" name="optionsRadios" id="radio" value="" checked>
						     <label for="radio">
						     	<span></span><p class="txt"><strong>New Customers</strong>Create an account with us for quick checkout, to keep track of your order, and more.</p>
						     </label>
						 </div>

						 <div class="radio">
						    <input type="radio" name="optionsRadios" id="radio2" value="option2">
						    <label for="radio2">
						    	<span></span><p class="txt"><strong>Returning Customers</strong></p>
						    </label>
						</div>
					</div><!-- //loginRadio -->
					<div class="form-group"><input type="password" name="" class="form-control" placeholder="Create Password"></div>
					<input type="submit" class="btn-blue" value="Create Account">
				</div>
			</form>
		</div> <!-- Login wrap -->
   	</div>
</div> <!-- //MAIN -->
  