<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}
            <div class="orderstat"><p>Order <strong>#9465</strong> was placed on <strong>Sep 09, 2015 </strong>and is curently <strong>Completed</p></strong></div>

            <div class="table-acc tabel-responsive">
                <form>
                    <table class="table">
                        <tr>
                            <th>Product</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>7/8 inch Burgundy Double-faced Satin Ribbon</td>
                            <td>$ 18.00</td>
                        </tr>
                         <tr>
                            <td>7/8 inch Burgundy Double-faced Satin Ribbon</td>
                            <td>$ 18.00</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="table-totalcart">
                <table class="table">
                    <tr>
                        <td class="first"><strong>Subtotal:</strong></td>
                        <td>$ 36.00</td>
                    </tr>
                     <tr>
                        <td class="first"><strong>Payment Method:</strong></td>
                        <td>PayPal</td>
                    </tr>
                     <tr>
                        <td class="first"><strong>Total:</strong></td>
                        <td>$ 36.00</td>
                    </tr>
                </table>
            </div>
            <div class="downloadPdf"><a href="#"><i class="fa fa-file-text-o"></i> Download PDF Invoice</a></div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  