<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}

            <h2 class="title-main">Oder History</h2>
            <div class="table-acc valign-middle tabel-responsive">
                <form>
                    <table class="table">
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Satus</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><a href="#" class="link-blue">9465</a></td>
                            <td>Sep 09, 2015</td>
                            <td>Completed</td>
                            <td>
                                <p>$ 36.00 for 2 <a href="#" class="link-blue">items</a></p>
                                <ul>
                                    <li class="tb-desc-sm">
                                        <span>1x</span>
                                        <p class="desc">7/8 inch Burgundy Double-faced SatinRibbon</p>
                                    </li>
                                     <li class="tb-desc-sm">
                                        <span>2x</span>
                                        <p class="desc">7/8 inch Burgundy Double-faced SatinRibbon</p>
                                    </li>
                                </ul>
                            </td>
                            <td align="center"><a href="invoice.html" class="btn-tb-action">view</a></td>
                        </tr>
                         <tr>
                            <td><a href="#" class="link-blue">9465</a></td>
                            <td>Sep 09, 2015</td>
                            <td>Completed</td>
                            <td><p>$ 36.00 for 2 <a href="#" class="link-blue">items</a></p></td>
                            <td align="center"><a href="invoice.html" class="btn-tb-action">view</a></td>
                        </tr>
                    </table>
                </form>
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  