<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}
			 <div class="row">
                <div class="leftside col-md-7 boxFade-wrap">
                    <div class="titlewrap">
                        <h2 class="title-main">Payment Payment Methods</h2>
                        <a href="#" class="right link-blue navFade_Form"><span>Add New</span></a>
                    </div>
                    <div class="fade_form">
                        <form name="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Card description">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Card number">
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>Month</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>Mei</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                    </select>
                                </div>

                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>Years</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>CVV</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="" value="submit" class="btn-blue">
                            </div>
                        </form>
                    </div><!-- //fade_form -->

                    <div class="fadeBox">
                        <div class="acc-addsBox table-responsive">
                            <table class="table">
                                <tr>
                                    <td width="28%"><figure><img src="assets/img/visa.png" alt=""></figure></td>
                                    <td><span>Robin’s VISA<br>xxxx 3453<br>Expires 7/2016</span></td>
                                    <td align="right" class="align-md"><a href="#" class="link-blue"><strong>Edit</strong></a></td>
                                </tr>
                            </table>
                        </div><!-- acc-addsBox -->
                        <div class="space20"></div>
                        <div class="acc-addsBox table-responsive">
                            <table class="table">
                                 <tr>
                                    <td width="28%"><figure><img src="assets/img/master.png" alt=""></figure></td>
                                    <td><span>Robin’s VISA<br>xxxx 3453<br>Expires 7/2016</span></td>
                                    <td align="right" class="align-md"><a href="#" class="link-blue"><strong>Edit</strong></a></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- //fadeBox -->
    
                </div><!-- //leftside -->
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  