<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}
			 <div class="row">
                <div class="leftside col-md-7 boxFade-wrap">
                    <div class="titlewrap">
                        <h2 class="title-main">Shipping Address</h2>
                        <a href="#" class="right link-blue navFade_Form"><span>Add New</span></a>
                    </div>
                    <div class="fade_form">
                        <form name="">
                             <div class="row form-group">
                                  <div class="col-sm-6">
                                      <input type="text" class="form-control" placeholder="First Name">
                                  </div>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                  </div>
                             </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Company">
                            </div>
                             <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Street Address">
                            </div>
                             <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apt, Floor, Unit">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option>State/Province</option>
                                        <option>Bandung</option>
                                        <option>Jakarta</option>
                                        <option>Malang</option>
                                    </select>
                                </div>

                                <div class="col-sm-6">
                                   <input type="text" class="form-control" placeholder="ZIP">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="" value="submit" class="btn-blue">
                            </div>
                        </form>
                    </div><!-- //fade_form -->

                    <div class="fadeBox">
                        <div class="acc-addsBox table-responsive">
                            <table class="table">
                                <tr>
                                    <td width="28%"><p>Twinkle L Star</p></td>
                                    <td><span>Liverpool L69 3BX,<br>United Kingdom</span></td>
                                    <td align="right" class="align-md"><a href="#" class="link-blue"><strong>Edit</strong></a></td>
                                </tr>
                            </table>
                        </div><!-- acc-addsBox -->
                        <div class="space20"></div>
                        <div class="acc-addsBox table-responsive">
                            <table class="table">
                                 <tr>
                                    <td width="28%"><p>Megawanto</p></td>
                                    <td><span>Liverpool L69 3BX,<br>United Kingdom</span></td>
                                    <td align="right" class="align-md"><a href="#" class="link-blue"><strong>Edit</strong></a></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- //fadeBox -->

                </div><!-- //leftside -->
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  