<div id="main" role="main">
	<div class="container">
   		 <div class="main-boxwhite">
   		 	{{> nav_payment}}

            <h2 class="title-main">Catalog and Product Views</h2>
            <div class="table-acc valign-middle table-responsive">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th width="12%">Price</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="tb-row-close closeRow">X</a>
                        </td>
                        <td>
                            <div class="tb-prodetail">
                                <figure class="tb-thumb-sm"><img src="assets/img/product1.jpg" alt=""></figure>
                                <div class="desc">
                                    <h4><a href="#">7/8 inch Burgundy Double-faced Satin Ribbon</a></h4>
                                    <p>Spool Size:  100 yards</p>
                                </div>
                            </div><!-- //tb-prodetail -->
                        </td>
                        <td>$18.00</td>
                        <td>
                            <div class="group-qty text-left">
                                <span class="group-btn">
                                    <button class="btn-circle btn-minuse">-</button>
                                </span>
                                <input type="text" value="0" size="4">
                                <span class="group-btn">
                                    <button class="btn-circle btn-pluss">+</button>
                                </span>
                            </div>
                        </td>
                        <td align="center">
                            <p><button class="btn-tb-action">Add to cart</button></p>
                        </td>
                    </tr>

                     <tr>
                        <td valign="top">
                            <a href="#" class="tb-row-close closeRow">X</a>
                        </td>
                        <td>
                            <div class="tb-prodetail">
                                <figure class="tb-thumb-sm"><img src="assets/img/product2.jpg" alt=""></figure>
                                <div class="desc">
                                    <h4><a href="#">1/8 inch Brown/Copper/ Gold Satin String</a></h4>
                                    <ul class="sm-detail">
                                        <li>Sizing Options: <span class="gray">5 Yards or 30</span></li>
                                        <li>Yards Fiber Content: <span class="gray">100 Polyester</span></li>
                                    </ul>
                                </div>
                            </div><!-- //tb-prodetail -->
                        </td>
                        <td>$18.00</td>
                        <td>
                            <div class="group-qty text-left">
                                <span class="group-btn">
                                    <button class="btn-circle btn-minuse">-</button>
                                </span>
                                <input type="text" value="0" size="4">
                                <span class="group-btn">
                                    <button class="btn-circle btn-pluss">+</button>
                                </span>
                            </div>
                        </td>
                        <td align="center">
                            <p><button class="btn-tb-action">Add to cart</button></p>
                        </td>
                    </tr>
                </table>
            </div>
		</div> <!-- main-boxwhite -->
   	</div>
</div> <!-- //MAIN -->
  