/** FOOTER
===================================*/
#footer{
	text-align: center;
	padding: 30px 0;
	@media screen and (min-width: 48em){
		text-align: left;
		.copyright{
			float: left;
			text-align: left;
			margin-bottom: 0;
		}
		.term{
			float: right;
			text-align: right
		}
	}

	.term, .copyright{
		text-align: center;
	}
	.copyright{
		margin-bottom: 15px;
	}
	.term{
		a{
			font-weight: 700;
		}
	}

}