body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.3em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight: 700;
	line-height:1.3em;		
}

a{
	@include prefixed(transition, all 0.3s linear);
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a{
	color: #0072bd;
	@include prefixed(transition, all 0.3s linear);
}
.label{
	color: #101010;
	font-size: 17px;
	padding-left: 0;
	margin-bottom: 0.4em;
	@include inline-block();
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -40%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
		@media (max-width: 570px) {
		    margin-right: -60%;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** TITLE
===================================*/
.title-main{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 27px;
	margin: 0;
	margin-bottom: 28px;
	color: $title-color;

}

.titlewrap{
	margin-bottom: 28px;
	overflow: hidden;
	text-align: center;
	.title-main{
		margin-bottom: 8px;
	}
	@media screen and (min-width: 48em){
		text-align: left;
		.right {
			float: right;
			padding-top: 5px;
		}	
		.title-main{
			float: left;
		}
	}
	
}

/** FORM , BUTTON AND LINKS
===================================*/
.form-control{
	height: 42px;
	@include border-radius(0);

	&.no-bordtop{
		border-top: none;
	}

	&.fieldbox-wt {
		border-bottom: none;
		padding-top: 20px;
    	padding-bottom: 20px;
    	height: auto;
		color: black;
		position: relative;
		p{
			margin: 0;
		}
	}
	@media screen and (max-width: 62em){
		 margin-bottom: 10px;
	}
}

.actionField{
	position: relative;
	.edit_link{
		position: absolute;
		right: 1.5em;
		top: 44px;
		color: #0072bd;
		font-size: 0.9em;
	}

	.form-control{
		padding-right: 55px;
	}
}

.btn-blue{
	background: none;
	border: none;
	color: white;
	text-align: center;
	background-color: #0072bd;
	font-size: 15px;
	min-width: 200px;
	padding: 10px 25px;
	font-weight: 700;
	@include inline-block();
	text-transform: uppercase;
	@include prefixed(transition, all 0.3s linear);

	&:hover{
		background-color: #badccf;
		color: black;
		text-decoration: none;
	}
}
.btn-gray{
	@extend .btn-blue;
	background-color: #b3b3b3;
}

.btn-full{
	.btn-blue, .btn-gray{
		width: 100%;
	}
}


.btn-tb-action{
	@extend .btn-blue;
	padding: 9px 15px 7px;
	min-width: 0;
	font-size: 0.7em;
	min-width: 150px;
}

.btn-close{
	@include inline-block();
	color : #191919;
	font-size: 1.2em;
	font-weight: normal;
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent image-url('close.png') 0 0 no-repeat;
	background-size: 12px auto;
	@include square(12px);
	text-align: center;
	&:hover{
		@include opacity(0.8);
	}
}

/*====== DROPDOWN STYLE; ======*/
.dropcontainer {
  position: relative;
  z-index: 100;
  font-size: 16px;
  color: #777;
}

.trigger {
  color: #777;
  padding: 6px;
  padding-right: 50px;
  font-size: 15px;
  width: 100%;
  background: #fff image-url('dd_triggerdown.png')  right center no-repeat;
  background-size: 37px auto;
  display: block;
  border: 1px solid #ccc;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover, &:focus, &:active {
    color: #777;
     text-decoration: none
  }
}
.activetrigger {
  @extend .trigger;
}
.dropcontainer ul {
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li {
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background: #f5f5f5;
      outline: none;
    }
    a{
    	color: #777;
    	text-decoration: none;
    }
    &:first-child {
      display: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.dropdownhidden {
  display: none;
}
.dropdownvisible {
  height: auto;
}

/** QTY NAV
===================================*/
.group-qty {
  text-align: center;
  &.text-left{
  	text-align: left;
  }
  .btn-circle {
    height: 20px;
    width: 20px;
    line-height: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #cfcfcf;
    background-color: transparent;
    text-align: center;
    color: #cfcfcf;
    transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -webkit-appearance: none;
    overflow: hidden;
    padding: 0;
    span {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      position: relative;
    }
    &.btn-pluss span {
      left: -1px;
      top: -1px;
    }
  }
  input[type="text"] {
    max-width: 70px;
    text-align: center;
    margin: 0 5px;
    padding: .3em 0em;
    border: none;
    background: white;
    border: 1px solid #cfcfcf;
  }
}

.qtynav{
	.label{
		@include inline-block();
		padding-top: 10px;
	}
	.group-qty	{
		@include inline-block();
		input[type="text"]{
			padding: 0.2em 0;
		}
		.group-btn{
			@media screen and (max-width: 48em){
				display: none;
			}
		}
	}
}

.main-boxwhite{
	background-color: white;
	padding: 20px;
	position: relative;
	@media screen and (min-width: 62em){
		padding: 70px;
	}
}

.link-blue{
	color: #0072bd;
	font-weight: 700;
	@include inline-block();
	&:hover{
		color: #bfbfbf;
		text-decoration: none;
	}
}
.fade_form{
	padding-bottom: 40px;
	display: none;
}

/** TABLE
===================================*/
.table{
	tr{
		td{
			&.align-md{
				vertical-align: middle;
			}
		}
	}
}
.tb-cardImg{
	max-width: 80px;
	overflow: hidden;
}

.table-acc{
	.table{
		tr{
			th{
				border: 0;
				border-bottom :1px solid #cccccc;
			}
			td{
				padding: 14px 8px;
				border: 0;
				border-bottom :1px solid #e6e6e6;
			}

			@media screen and(max-width: 62em){
				td, th{

					&:last-child{
						text-align: right;
					}
				}
			}
		}
	}

}

.table-totalcart{
	@include clearfix();
	border-bottom:1px solid #e6e6e6;
	margin-bottom: 25px;
	.table{
		
		@media screen and(min-width: 62em){
			float: right;
			max-width: 500px;
		}
		tr{
			td{
				border: 0;

				@media screen and (max-width: 62em){
					&:last-child{
						text-align: right;
					}
				}
			}
		}
	}
}

.tb-desc-sm{
	font-size: 0.8em;
	span{
		display: block;
		margin-bottom: 8px;
		color: #999999;
		@media screen and (min-width: 50em){
			float: left;
			margin-right: 20px;
		}
	}
	.desc{
		overflow: hidden;
		color: black;
		max-width: 200px;
		@media screen and (min-width: 50em){
			max-width: 150px;
		}
	}
}

.valign-middle{
	table{
		tr{
			td{
				vertical-align: middle;
			}
		}
	}
}
.tb-prodetail{
	figure{
		display: none;
		margin-bottom: 10px;
		max-width: 120px;

		&.tb-thumb-sm{
			max-width: 50px;
		}
	}
	.desc{

		font-size: 0.8em;
	}
	@media screen and (min-width: 50em){
		padding:15px 0;
		figure{
			display: block;
			float: left;
			margin-right: 20px;
		}
		.desc{
			overflow: hidden;
			font-size: 1em;
			h4{
				margin-top: 0;
			}
		}
	}
}
.tb-row-close{
	@include inline-block();
	font-family: 'arial', sans serif;
	font-size: 15px;
	color: #333333;
	&:hover{
		@include opacity(0.8);
		text-decoration: none;
	}
}
/** NAV PAYMENT
===================================*/
.nav_payment{
	overflow: hidden;
	padding: 8px 20px;
	text-align: center;
	background-color: #e6e6e6;
	margin-bottom: 30px;
	@media screen and (min-width: 62em){
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	ul{
		position: relative;
		z-index: 5;
		@media screen and (min-width: 62em){
			@include inline-block();
			&:before{
				content : '';
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px; 
				background-color: #cccccc;
			}
		}
		li{
			border-bottom: 1px solid #cccccc;
			text-align: left;
			&:last-child{
				border-bottom: none;
			}
			a{
				display: block;
				color: #b3b3b3;
				font-weight: 700;
				padding: 0.5em 1em 0.8em;
				background-color: #e6e6e6;

				&:hover, &.active{
					color: white;
					text-decoration: none;
					background-color: #0072bd
				}
			}
			@media screen and (min-width: 48em){
				@include inline-block();
				text-align: center;
				border: none;
				margin: 0 8px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					@include inline-block();
					padding: 0.5em 1em;

					&:hover, &.active{
						color: #0072bd;
						background-color: #e6e6e6;
					}
				}
			}

			@media screen and (max-width: 62em){
				a{
					padding: 0.5em 0.2em;
				}
			}
		}
	}

}
/** LOGIN WRAP
===================================*/
.login-form__inside{
	@include make-md-column(4);

	.btn-blue{
		margin-top: 20px;
	}
}
.loginRadio{
	margin: 24px 0 0;
}


/** OREDER SUMMARY BOX
===================================*/
/*====== ASIDE CHECKOUT ======*/
.asideInner{	
	@media screen and (min-width: 62em){padding-left: 58px;}
}

.ship-summary{
	border: 2px solid #e0e0e0;
	padding: 18px;
	margin-bottom: 30px;
	@media screen and (min-width: 48em){
		padding: 25px;
	}
}

.ship-summary{
	h4{
		font-size: 20px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 22px;
	}
	.table{
		td{
			border: none;
			font-size: 17px;
			padding: 4px 8px;

			&:first-child{
				padding-left: 0;
			}

			.coupon{
				text-decoration: underline;
				font-weight: 700;
			}
		}
	}
}

.f-headtext{
	overflow: hidden;
	margin-bottom: 20px;
	h5 {
	    
	    text-align: left;
	    font-size: 20px;
	    margin-bottom: 10px;
	   
	}
	@media screen and (min-width: 45em){
		h5{
			float: left;
			 margin: 0;
		}
		.right {
			margin-top: 0;
		    float: right;
		    text-align: right;
		}
	}
}

.acc-addsBox{
	border: 1px solid #cdcdcd;
    padding: 10px 17px;
    margin-bottom: 12px;
    vertical-align: top;

    .table {
    	margin-bottom: 0;

		td {
			border: none;
			font-size: 16px;
			position: relative;
		}
	}
}

.orderstat{
	margin-bottom: 40px;
}


/** SIGNUP
===================================*/

.signup-wrap{
	#header-ckout #logo{
		margin: 0 auto;
		float: none !important;
	}
	.copyright{
		float: none !important;
		text-align: center !important;
	}
}

.signup-box{
	width: 100%;
	max-width: 650px;
	margin: 30px auto 20px;
	padding: 25px;
	background-color: white;
	@include clearfix();
	@media screen and (min-width: 48em){
		padding: 50px;
	}

	.form-group{
		margin-bottom: 28px;
	}

	.signupdesc{
		text-align: center;
		margin-bottom: 68px;
		font-size: 21px;
		line-height: 1.4;
		h2{
			font-family: 'Josefin Slab', serif;
			font-weight: 700;
			font-size: 27px;
			margin: 0;
			margin-bottom: 15px;
			color: #2b2723;
		}
	}

	.f-indicator{
		margin: 30px 0 40px;
		label{
			color: #9e9e9e;
			font-weight: 400;
			display: block;
		}

		.progress{
			width: 100%;
			@include border-radius(10px);
			background-color: white;
			border: 1px solid #cccccc;
			@include box-shadow(none);
			.progress-bar{
				@include box-shadow(none);
				background-color: #0072bd;
			}
		}
	}

	.btn-wrap{
		text-align: center;
	}
}


