/** HEADER
===================================*/

#header-ckout{
	text-align: center;
	padding: 18px 0;
	
	#logo{
		@include make-md-column(4);
		margin-bottom: 15px;
		max-width: 270px;

		@media screen and (max-width: 62em){
			text-align: center;
			margin: 0 auto 40px;
		}
	}
}

.header-right{
	@include make-md-column(8);
	@media screen and (min-width: 62em){
		padding-top: 5%;
	}
	ul{
		//@extend .list-unstyled;
		@media screen and (min-width: 62em){
			text-align: right;
		}
		li{
			@include inline-block();
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			padding-left: 13px;

			a{
				color: $font-size;

				&:hover{
					color : #808080;
				}
			}

			&:first-child{
				@media screen and (min-width: 48em){
					border-right: 1px solid #cccccc;
					padding-right: 13px;
				}

			}
			&.header-email{
				a{
					color: #0072bd;
					text-transform: none;
					&:hover{
						color : #808080;
					}
				}
			}
		}
	}
}
